#content{
	width: 888px;
}
#kep1{
    margin-left:20px;
}
#imageright{
    border-radius: 10px;
    border: 1px solid forestgreen;
}
h1,h2{
    color: forestgreen;
    text-transform:uppercase;
}
#kep2{
    margin-right: 40px;
    margin-bottom: 80px;
}
#imageleft{
    border-radius: 10px;
    border: 1px solid forestgreen;
    width: 350px;
    height: 260px;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    float: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}